* {
  margin: 0;
  padding: 0; }
/* Main container */
.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden; }

  /* Button index */
.btn-light{
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  color: #333;
  background-color: #f4f4f4; }


/* Hover change button index */
button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: #C2BFC7;
  color: white; }

/* background colors divs */
.bg-dark {
  background: #333;
  color: #fff; }

.bg-light {
  background: #f4f4f4;
  color: #000; }

.bg-medium {
  background: #ccc;
  color: #000; }
/* Subtext */
.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem; }

.text-center {
  text-align: center; }


/* Padding general */
.py-3 {
  padding: 3rem 0; }

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase; }

.bottom-line {
  height: 2px;
  width: 3rem;
  background: #C2BFC7;
  display: block;
  margin: 0 auto 1rem auto; }
body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background: #fff; }

a {
  text-decoration: none;
  color: #333; }

ul {
  list-style: none; }

h2,
h3,
h4 {
  text-transform: uppercase; }

img {
  width: 100%; }

#logo {
  width: 70px;
  height: 70px;
}

#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
   }
  #main-nav ul {
    display: flex; }
  #main-nav li {
    padding: 1rem 1.5rem; }
  #main-nav a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;
    font-size: 1.5rem; }
    #main-nav a:hover {
      text-decoration: none;
      color: #77767A;
      text-transform: uppercase;
      border-bottom: 3px transparent solid;
      padding-bottom: 0.5rem;
      transition: border-color 0.5s; }
  
    #main-nav a.current {
      border-color: #97ADAA; }

#header-home {
  background: url("../img/viewBackground.JPG") no-repeat center right/cover;
  height: 100vh;
  color: #fff; }
  
  #header-home .header-content {
    text-align: center;
    padding-top: 20%; }
    #header-home .header-content h1 {
      font-size: 4rem;
      line-height: 1.2; }

#header-inner {
  background: url("../img/viewBackground.JPG") no-repeat 20% 30%/cover;
  height: 6.5rem;
  border-bottom: 3px solid #C2BFC7; }


#about-a .about-info {
  display: grid;
  grid-template-areas: 'bioimage bio bio' 'aw1 aw2 aw3';
  grid-gap: 1.2rem; }

#about-a .bio-image {
  grid-area: bioimage; }

#about-a .bio {
  grid-area: bio;
  border-left: 3px solid #77767A;
  padding: 0.8rem; }

#about-b .progress {
  overflow: hidden;
  height: 20px;
  background: #ccc;
  border-radius: 5px;
  margin-bottom: 0.6rem; }
  #about-b .progress div {
    height: 100%;
    color: #fff;
    text-align: center;
    background: #ffbc00; }



#main-footer {
  background: #C2BFC7;
  color: #fff;
  height: 5rem; }
  #main-footer .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center; }
    #main-footer .footer-content .social .fab {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem; }
      #main-footer .footer-content .social .fab:hover {
        background: #97ADAA; }

@media (max-width: 800px) {
  #header-home {
    height: 100vh;; }
    #header-home .header-content {
      padding-top: 5rem; } }

@media (max-width: 500px) {
  #main-nav {
    flex-direction: column;
    align-items: center; }
    #main-nav li {
      padding: 0rem 1rem; }
  #header-home {
    height: 100vh;
    border-bottom: 3px solid #77767A;
    background-position: 20% 30%; }
    #header-home .header-content {
      display: flex; 
      flex-direction: column;
      }
  #header-inner {
    height: 10rem; }
  #home-a .process{
    grid-template-columns: 1fr; }
  #home-a .specials div {
    border-bottom: 1px #f4f4f4 solid;
    padding-bottom: 1rem; }
    #home-a div:last-child {
      border: none;
      padding-bottom: 0; }
  #about-a .about-info {
    grid-template-areas: 'bioimage' 'bio' 'aw1' 'aw2' 'aw3'; }
  #main-footer {
    height: 7rem; }
    #main-footer .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 5rem; }

@media (max-height: 580px) {
  #header-home .header-content {
    padding-top: 3rem; } }

@media (max-height: 330px) {
  #header-home .header-content h1 {
    font-size: 2rem; } 
  }
}
